.side-bar {
    border-right: 1px solid lightgray;
    text-decoration: none;
}
.side-bar a:hover {
    text-decoration:none;

}

.side-bar-button {
    margin: 5px;
    margin-bottom: 50px;
    border: 0.5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(#939286, #ffffea);
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    flex: 0 0 auto;
    box-shadow: 1px 1px 1px black;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    font-family: Consolas;
    font-size: 20px;
}
    .side-bar-button:hover {
        color:black;
    }

    .side-bar-button a {
        color: black;
        font-size: inherit;
    }

        .side-bar-button a:hover {
            text-decoration-line: none;
            color:black;
        }

    .side-bar-button:hover {
        box-shadow: 2px 2px 2px #363636;
        color: black;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }


.side-bar-adv {
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

figure {
    text-align: center;
    margin-bottom: 15px;
    justify-content:center;

}
