@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Styles/slider.css")

<div class="slider">
    <figure>
        <img class="slider-photo" src="~/Content/Images/sliderPhoto.jpg" alt="Панорама Барселоны" />
    </figure>
</div>

<div class="main-text">
    <h2> Про нас:</h2>
    <p>
        Мы живем  в очень непростое время - время развития экономики и бизнеса, время всевозрастающей конкуренции,
        время требований к высокому уровню жизни, время людей, ценящих свое время. Для полноценного отдыха
        становится все сложнее выкроить пару деньков, а хочется, чтобы они стали незабываемыми? Нет времени
        выбирать туроператоров, слушать рассказы о преимуществах того или иного курорта, заниматься оформлением виз?
        Или есть возможность совместить отдых с работой и для этого необходим  уютный особняк?   Появилось желание
        купить недвижимость за рубежом или просто выгодно инвестировать свой капитал? Срочно требуется юридическая
        консультация?
    </p>
    <p>
        Наша компания предоставляет весь спектр услуг и гарантирует, что обратившись к нам, каждая секунда
        вашего времени будет потрачена с пользой и принесет в последствие  много незабываемых минут. Итак, вы
        решили обратится к нам? Все начинается с приезда: трансфер (встреча в аэропорту) и комфортная доставка в
        отель, индивидуальные гиды и экскурсии - Барселона, Каталуния,  Монтсерат, Монжуик, Святое Семейство и
        многое другое. Для большего удобства к вашим услугам авто премиум класса, вертолет, яхта.
    </p>
    <p>
        Какое путешествие без подарков? Мировые марки по аутлету, незабываемый шопинг, при всем при этом если вы с
        детьми, то наши няни не только присмотрят за ними, но и организуют познавательный, веселый  досуг.
        Ведь впечатления  самых маленьких  наших клиентов для нас важны не меньше.
    <p>
        Мы можем объять невозможное - это не просто громкий слоган,  это действующий девиз нашей компании.
    </p>
</div>



