@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Styles/slider.css")

<div class="slider">
    <figure>
        <img class="slider-photo" src="~/Content/Images/sliderPhoto.jpg" alt="Панорама Барселоны" />
    </figure>
</div>

<div class="main-text">
    <h2><b>Про нас:</b></h2>
    <p style="margin-bottom:15px;">
        Наша компания оказывает полный спектр юридических и консультационных услуг:
    </p>
    <ul style="margin-bottom:25px;">
        <li> Вопросы организации и ведения бизнеса</li>
        <li> Продажа, приобретение, оренды жилой коммерческой недвижимости.</li>
        <li> Профессиональные консультации по вопросам испанского, каталунского законодательства.</li>
        <li> Оказывает помощь в подборе обслуживающего персонала для ведения хозяйства (няни, горничные, садовники и т.д.)</li>
        <li>
            Обеспечивает транспорт и индивидуальные экскурсии по Барселоне, Каталунии, Монсерату, Монжуик и Испании в целом.
            К услугам клиентов авто премиум класса, вертолёт и яхта.
        </li>
        <li>
            Для клиентов, путешествующих с детьми, предоставляем услуги нянь, которые обеспечат весёлый и познавательный
            досуг самым маленьким и требовательным клиентам, пока их родители заняти бизнесом, отдыхом или шопингом.
        </li>
    </ul>
    <h3>Мы можем объять невозможное. И это не просто громкий слоган, а девиз нашей компании.</h3>
</div>



